.container-welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  #splash-image {
    width: 100%;
  }
  .splash-intro {
    // background: linear-gradient(to left, $blue, #cbd4f2);
    background: $blue;
    color: $off-white;
    text-align: center;
    margin-top: -100px;
    padding: 10px 15px;
    h4 {
      font-weight: lighter;
      font-size: 18px;
      padding: 0 25px;
      .title {
        font-family: 'Berkshire Swash', cursive;
        font-size: 20px;
        letter-spacing: 1px;
      }
    }
    p {
      font-weight: lighter;
      font-size: 16px;
      &:last-of-type {
        font-size: 14px;
        a:visited {
          color: $off-white;
        }
      }
    }
    button {
      @include white-button;
    }
  }
  .welcome-cards {
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    .card {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 30px;
      img {
        width: 80px;
      }
      h2 {
        font-family: 'Vidaloka', serif;
      }
    }
    :first-child {
      .message-icon {
        border: 1px solid $blue;
        padding: 20px;
        padding-top: 30px;
        background-color: #ebeffb;
        border-radius: 100%;
      }
    }
    :nth-of-type(2) {
      .circle-border {
        border: 1px solid $charcoal;
        background-color: #e7e7e7;
        border-radius: 100%;
        img {
          padding: 35px 20px;
        }
      }
    }
    :nth-of-type(3) {
      .circle-border {
        border: 1px solid $red;
        background-color: #f5e9e9;
        border-radius: 100%;
        img {
          padding: 20px;
          padding-top: 30px;
        }
      }
    }
  }
  .about-button {
    @include blue-button;
    margin: 30px 0;
  }
}
