//colors
$red: #c95d63;
$charcoal: #595959;
$peach: #ffaf87;
$blue: #496ddb;
$off-white: #fefefd;

//screen sizes
$tablet-bp: 'screen and (min-width: 768px)';
$desktop-bp: 'screen and (min-width: 992px)';
