<div class="container-welcome">
  <h1><img src="../assets/mc-title-image.png" alt="Mamas Connect Logo"></h1>
  <img id="splash-image" src="../assets/mc-splash-image.jpg" alt="Mamas Connect Splash Image">
  <div class="splash-intro">
    <h4>Welcome to <span class="title">Mamas Connect</span>, the only place that gives you free access to:</h4>
    <p>a trusted network of real, no-judgement mamas,</p>
    <p>a private calendar of fun playdates near you, and</p>
    <p>amazing articles from members &amp; childcare experts!</p>
    <button class="sign-up-button" type="button" name="button"><a routerLink="signup">Sign up!</a></button>
    <p>If you're already a member, <a routerLink="login">log in</a></p>
  </div>
  <div class="welcome-cards">
    <div class="card card-message">
      <img class="message-icon" src="../assets/mc-message-icon.png" alt="message icon">
      <h2>Message a Mama Mentor</h2>
      <p>When you become a member, you have access to a whole network of supportive, wise, helpful mamas near you. Ask them anything, anytime!</p>
    </div>
    <div class="card card-calendar">
      <div class="circle-border">
        <img src="../assets/mc-calendar-icon.png" alt="calendar icon">
      </div>
      <h2>Find Playdates Near You</h2>
      <p>As a member, you can view a calendar of private meetups for parents and kids happening across town (and in your neighborhood)!</p>
    </div>
    <div class="card card-blog">
      <div class="circle-border">
        <img class="blog-icon" src="../assets/mc-blog-icon.png" alt="blog icon">
      </div>
      <h2>Get Some Sound Advice</h2>
      <p>Get exclusive access to articles written by mamas and childcare professionals, as they answer you top questions, shair their stories, and get real.</p>
    </div>
  </div>
  <button class="about-button" type="button" name="button"><a routerLink="about">Learn More</a></button>
</div>
