.container-welcome {
  img {
    width: 100%;
  }
  .splash-intro {
    background: linear-gradient(to left, #496ddb, #cbd4f2);
    color: #fefefd;
    text-align: center;
    margin-top: 0;
    padding: 10px;
    h4 {
      padding-left: 50px;
      padding-right: 50px;
      font-weight: normal;
      .title {
        font-family: 'Berkshire Swash', cursive;
        letter-spacing: 1px;
      }
    }
    p {
      font-weight: lighter;
      font-size: 16px;
    }
    button {
      text-transform: uppercase;
      background: #496ddb;
      border-style: none;
      border: solid 2px #fefefd;
      font-size: 20px;
      color: #fefefd;
      font-weight: 200;
      letter-spacing: 1px;
      padding: 10px 30px;
      a:link {
        text-decoration: none;
      }
      a:visited {
        color: #fefefd;
        text-decoration-line: none;
      }
    }
  }
}
