<div class="container-welcome">
  <img id="splash-image" src="../assets/mc-splash-image.jpg" alt="Mamas Connect Splash Image">
  <div class="splash-intro">
    <h4>Welcome to <span class="title">Mamas Connect</span>, the only place that gives you free access to:</h4>
    <p>a trusted network of real, no-judgement mamas,</p>
    <p>a private calendar of fun playdates near you, and</p>
    <p>amazing articles from members &amp; childcare experts!</p>
    <button class="sign-up-button" type="button" name="button"><a routerLink="signup">Sign up!</a></button>
  </div>
</div>
